@model Hospital.Shared.Shared.ServiceActionResult<List<Get_AvailableDoctors_Response>>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>داک‌کیور</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link href="../img/favicon.png" rel="icon">

    
    <link href="~/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/plugins/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/plugins/fontawesome/css/all.min.css" rel="stylesheet" /> 
    <link href="~/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="main-wrapper">

        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="index-2.html" class="navbar-brand logo">
                        <img src="../img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="index-2.html" class="menu-logo">
                            <img src="../img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="has-submenu">
                            <a href="doctor-dashboard.html#">خانه<i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="index-2.html">خانه</a></li>
                                <li><a href="index-two.html">خانه 2</a></li>
                                <li><a href="index-three.html">خانه 3</a></li>
                                <li><a href="index-four.html">خانه 4</a></li>
                                <li><a href="index-five.html">خانه 5</a></li>
                                <li><a href="index-six.html">خانه 6</a></li>
                                <li><a href="index-seven.html">خانه 7</a></li>
                                <li><a href="index-eight.html">خانه 8</a></li>
                                <li><a href="index-nine.html">خانه 9</a></li>
                                <li><a href="index-ten.html">خانه 10</a></li>
                                <li><a href="index-leven.html">خانه 11</a></li>
                                <li><a href="index-twelve.html">خانه 12</a></li>
                                <li><a href="index-thirteen.html">خانه 13</a></li>
                                <li><a href="index-fourteen.html">خانه 14</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu active">
                            <a href="doctor-dashboard.html#">پزشک‌ها<i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li class="active"><a href="doctor-dashboard.html">داشبرد پزشک</a></li>
                                <li><a href="appointments.html">نوبت‌دهی</a></li>
                                <li><a href="schedule-timings.html">زمان‌بندی</a></li>
                                <li><a href="my-patients.html">لیست بیماران</a></li>
                                <li><a href="patient-profile.html">پروفایل بیماران</a></li>
                                <li><a href="chat-doctor.html">چت</a></li>
                                <li><a href="invoices.html">صورت‌حساب</a></li>
                                <li><a href="doctor-profile-settings.html">تنظیمات پروفایل</a></li>
                                <li><a href="reviews.html">نظرات</a></li>
                                <li><a href="doctor-register.html">ثبت‌نام پزشک</a></li>
                                <li class="has-submenu">
                                    <a href="doctor-blog.html">‌بلاگ</a>
                                    <ul class="submenu">
                                        <li><a href="doctor-blog.html">‌بلاگ</a></li>
                                        <li><a href="blog-details.html">دیدن بلاگ</a></li>
                                        <li><a href="doctor-add-blog.html">افزودن بلاگ</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="doctor-dashboard.html#">مراجعه‌کنندگان<i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li class="has-submenu">
                                    <a href="doctor-dashboard.html#">پزشکان</a>
                                    <ul class="submenu">
                                        <li><a href="map-grid.html">گرید نقشه</a></li>
                                        <li><a href="map-list.html">لیست نقشه</a></li>
                                    </ul>
                                </li>
                                <li><a href="search.html">جستجو پزشک</a></li>
                                <li><a href="doctor-profile.html">پروفایل پزشک</a></li>
                                <li><a href="booking.html">رزرو نوبت</a></li>
                                <li><a href="checkout.html">پرداخت</a></li>
                                <li><a href="booking-success.html">رزرو موفق</a></li>
                                <li><a href="patient-dashboard.html">دشبرد مراجعه‌کننده</a></li>
                                <li><a href="favourites.html">‌علاقه‌مندیها</a></li>
                                <li><a href="chat.html">چت</a></li>
                                <li><a href="profile-settings.html">تنظیمات پروفایل</a></li>
                                <li><a href="change-password.html">‌تغییر رمز عبور</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="doctor-dashboard.html#">داروخانه<i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="pharmacy-index.html">داروخانه</a></li>
                                <li><a href="pharmacy-details.html">جزییات داروخانه</a></li>
                                <li><a href="pharmacy-search.html">جستجو داروخانه</a></li>
                                <li><a href="product-all.html">محصول</a></li>
                                <li><a href="product-description.html">توضیحات محصول</a></li>
                                <li><a href="cart.html">سبد خرید</a></li>
                                <li><a href="product-checkout.html">ادامه خرید محصول</a></li>
                                <li><a href="payment-success.html">خرید موفق</a></li>
                                <li><a href="pharmacy-register.html">ثبت‌نام داروخانه</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="doctor-dashboard.html#">‌صفحات<i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="voice-call.html">‌تماس صوتی</a></li>
                                <li><a href="video-call.html">‌تماس تصویری</a></li>
                                <li><a href="search.html">‌جستجو پزشک</a></li>
                                <li><a href="calendar.html">‌تقویم</a></li>
                                <li><a href="components.html">‌کامپوننت‌ها</a></li>
                                <li class="has-submenu">
                                    <a href="invoices.html">صورت‌حساب</a>
                                    <ul class="submenu">
                                        <li><a href="invoices.html">صورت‌حساب</a></li>
                                        <li><a href="invoice-view.html">جزییات صورت‌حساب</a></li>
                                    </ul>
                                </li>
                                <li><a href="blank-page.html">‌صفحه شروع</a></li>
                                <li><a href="about-us.html">‌درباره ما</a></li>
                                <li><a href="contact-us.html">‌تماس با ما</a></li>
                        </li>
                        <li><a href="login.html">‌ورود</a></li>
                        <li><a href="register.html">‌ثبت‌نام</a></li>
                        <li><a href="forgot-password.html">‌فراموشی رمزعبور</a></li>
                    </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="doctor-dashboard.html#">‌بلاگ<i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a href="blog-list.html">‌لیست بلاگ</a></li>
                            <li><a href="blog-grid.html">‌گرید بلاگ</a></li>
                            <li><a href="blog-details.html">‌جزییات بلاگ</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="doctor-dashboard.html#" target="_blank">‌ادمین<i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a href="admin/index.html" target="_blank">‌ادمین</a></li>
                            <li><a href="pharmacy/index.html" target="_blank">‌ادمین داروخانه</a></li>
                        </ul>
                    </li>
                    <li class="login-link">
                        <a href="login.html">‌ورود / ثبت‌نام</a>
                    </li>
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">
                    <li class="nav-item contact-item">
                        <div class="header-contact-img">
                            <i class="far fa-hospital"></i>
                        </div>
                        <div class="header-contact-detail">
                            <p class="contact-header">تماس</p>
                            <p class="contact-info-header"> +1 315 369 5943</p>
                        </div>
                    </li>

                    <li class="nav-item dropdown has-arrow logged-item">
                        <a href="doctor-dashboard.html#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                            <span class="user-img">
                                <img class="rounded-circle" src="../img/doctors/doctor-thumb-02.jpg" width="31" alt="دارن الدر">
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <div class="user-header">
                                <div class="avatar avatar-sm">
                                    <img src="../img/doctors/doctor-thumb-02.jpg" alt="User Image" class="avatar-img rounded-circle">
                                </div>
                                <div class="user-text">
                                    <h6> دارن الدر</h6>
                                    <p class="text-muted mb-0">پزشک</p>
                                </div>
                            </div>
                            <a class="dropdown-item" href="doctor-dashboard.html">داشبرد</a>
                            <a class="dropdown-item" href="doctor-profile-settings.html">تنظیمات پروفایل</a>
                            <a class="dropdown-item" href="login.html">خروج</a>
                        </div>
                    </li>

                </ul>
            </nav>
        </header>


        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index-2.html">خانه</a></li>
                                <li class="breadcrumb-item active" aria-current="page">داشبرد</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">داشبرد</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="doctor-dashboard.html#" class="booking-doc-img">
                                        <img src="../img/doctors/doctor-thumb-02.jpg" alt="User Image">
                                    </a>
                                    <div class="profile-det-info">
                                        <h3>پزشک. دارن الدر</h3>
                                        <div class="patient-details">
                                            <h5 class="mb-0"> BDS ، MDS - جراحی دهان و فک و صورت </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                        <li class="active">
                                            <a href="doctor-dashboard.html">
                                                <i class="fas fa-columns"></i>
                                                <span>داشبرد</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="appointments.html">
                                                <i class="fas fa-calendar-check"></i>
                                                <span>نوبت‌دهی</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="my-patients.html">
                                                <i class="fas fa-user-injured"></i>
                                                <span>مراجعه‌کنندگان من</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="schedule-timings.html">
                                                <i class="fas fa-hourglass-start"></i>
                                                <span>زمان‌بندی</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="available-timings.html">
                                                <i class="fas fa-clock"></i>
                                                <span>زمان های موجود</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="invoices.html">
                                                <i class="fas fa-file-invoice"></i>
                                                <span>صورت‌حساب</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="accounts.html">
                                                <i class="fas fa-file-invoice-dollar"></i>
                                                <span>اکانت</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="reviews.html">
                                                <i class="fas fa-star"></i>
                                                <span>نظرات</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="chat-doctor.html">
                                                <i class="fas fa-comments"></i>
                                                <span>پیام‌ها</span>
                                                <small class="unread-msg">23</small>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="doctor-profile-settings.html">
                                                <i class="fas fa-user-cog"></i>
                                                <span>تنظیمات پروفایل</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="social-media.html">
                                                <i class="fas fa-share-alt"></i>
                                                <span>شبکه‌های اجتماعی</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="doctor-change-password.html">
                                                <i class="fas fa-lock"></i>
                                                <span>‌تغییر رمز عبور</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index-2.html">
                                                <i class="fas fa-sign-out-alt"></i>
                                                <span>خروج</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-7 col-lg-8 col-xl-9">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card dash-card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-4">
                                                <div class="dash-widget dct-border-rht">
                                                    <div class="circle-bar circle-bar1">
                                                        <div class="circle-graph1" data-percent="75">
                                                            <img src="../img/icon-01.png" class="img-fluid" alt="patient">
                                                        </div>
                                                    </div>
                                                    <div class="dash-widget-info">
                                                        <h6> مراجعان کلی </h6>
                                                        <h3>1500</h3>
                                                        <p class="text-muted"> تا امروز </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-4">
                                                <div class="dash-widget dct-border-rht">
                                                    <div class="circle-bar circle-bar2">
                                                        <div class="circle-graph2" data-percent="65">
                                                            <img src="../img/icon-02.png" class="img-fluid" alt="Patient">
                                                        </div>
                                                    </div>
                                                    <div class="dash-widget-info">
                                                        <h6> مراجعان امروز </h6>
                                                        <h3>160</h3>
                                                        <p class="text-muted">06, خرداد 1401</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-4">
                                                <div class="dash-widget">
                                                    <div class="circle-bar circle-bar3">
                                                        <div class="circle-graph3" data-percent="50">
                                                            <img src="../img/icon-03.png" class="img-fluid" alt="Patient">
                                                        </div>
                                                    </div>
                                                    <div class="dash-widget-info">
                                                        <h6>نوبت ها</h6>
                                                        <h3>85</h3>
                                                        <p class="text-muted">6 تیر 1401</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="mb-4">نوبت مراجعان</h4>
                                <div class="appointment-tab">

                                    <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="doctor-dashboard.html#upcoming-appointments" data-bs-toggle="tab">پیش رو</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="doctor-dashboard.html#today-appointments" data-bs-toggle="tab">امروز</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">

                                        <div class="tab-pane show active" id="upcoming-appointments">
                                            <div class="card card-table mb-0">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-center mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>نام بیمار</th>
                                                                    <th>تاریخ نوبت</th>
                                                                    <th>هدف</th>
                                                                    <th>نوع</th>
                                                                    <th class="text-center">مقدار پرداختی</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model.Result)
                                                                {
                                                                    <tr>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="patient-profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="../img/patients/patient.jpg" alt="User Image"></a>
                                                                            <a href="patient-profile.html">@item.FirstName @item.LastName<span>#PT0016</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>11 خرداد 1401 <span class="d-block text-info">10.00 صبح</span></td>
                                                                    <td>کلی</td>
                                                                    <td>مراجع جدید</td>
                                                                    <td class="text-center"> 150 تومان </td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                                <i class="far fa-eye"></i> مشاهده
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                                                <i class="fas fa-check"></i> قبول
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                                                <i class="fas fa-times"></i> حذف
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                }
                                                                
                                                                <tr>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="patient-profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="../img/patients/patient1.jpg" alt="User Image"></a>
                                                                            <a href="patient-profile.html">چارلی راد <span>#PT0001</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>3 خرداد 1401 <span class="d-block text-info">11.00 صبح</span></td>
                                                                    <td>کلی</td>
                                                                    <td>مراجع قدیمی</td>
                                                                    <td class="text-center">200 تومان</td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                                <i class="far fa-eye"></i> مشاهده
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                                                <i class="fas fa-check"></i> قبول
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                                                <i class="fas fa-times"></i> حذف
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="patient-profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="../img/patients/patient2.jpg" alt="User Image"></a>
                                                                            <a href="patient-profile.html">تراویس تریمبل <span>#PT0002</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>1 خرداد 1401 <span class="d-block text-info">1.00 عصر</span></td>
                                                                    <td>کلی</td>
                                                                    <td>مراجع جدید</td>
                                                                    <td class="text-center"> 75 تومان </td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                                <i class="far fa-eye"></i> مشاهده
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                                                <i class="fas fa-check"></i> قبول
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                                                <i class="fas fa-times"></i> حذف
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="patient-profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="../img/patients/patient3.jpg" alt="User Image"></a>
                                                                            <a href="patient-profile.html">کارل گری <span>#PT0003</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>30 مهر 1401 <span class="d-block text-info">9.00 صبح</span></td>
                                                                    <td>کلی</td>
                                                                    <td>مراجع قدیمی</td>
                                                                    <td class="text-center">100 تومان</td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                                <i class="far fa-eye"></i> مشاهده
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                                                <i class="fas fa-check"></i> قبول
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                                                <i class="fas fa-times"></i> حذف
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="patient-profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="../img/patients/patient4.jpg" alt="User Image"></a>
                                                                            <a href="patient-profile.html">میشل فایر <span>#PT0004</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>28 مهر 1401 <span class="d-block text-info">6.00 عصر</span></td>
                                                                    <td>کلی</td>
                                                                    <td>مراجع جدید</td>
                                                                    <td class="text-center">350 تومان</td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                                <i class="far fa-eye"></i> مشاهده
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                                                <i class="fas fa-check"></i> قبول
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                                                <i class="fas fa-times"></i> حذف
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="patient-profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="../img/patients/patient5.jpg" alt="User Image"></a>
                                                                            <a href="patient-profile.html">جینا مور <span>#PT0005</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>27 مهر 1401 <span class="d-block text-info">8.00 صبح</span></td>
                                                                    <td>کلی</td>
                                                                    <td>مراجع قدیمی</td>
                                                                    <td class="text-center">250 تومان</td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                                <i class="far fa-eye"></i> مشاهده
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                                                <i class="fas fa-check"></i> قبول
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                                                <i class="fas fa-times"></i> حذف
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="tab-pane" id="today-appointments">
                                            <div class="card card-table mb-0">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-center mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>نام بیمار</th>
                                                                    <th>تاریخ نوبت</th>
                                                                    <th>هدف</th>
                                                                    <th>نوع</th>
                                                                    <th class="text-center">مقدار پرداختی</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="patient-profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="../img/patients/patient6.jpg" alt="User Image"></a>
                                                                            <a href="patient-profile.html">السی گیال <span>#PT0006</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>14 خرداد 1401 <span class="d-block text-info">6.00 عصر</span></td>
                                                                    <td>تب</td>
                                                                    <td>مراجع قدیمی</td>
                                                                    <td class="text-center">300 تومان</td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                                <i class="far fa-eye"></i> مشاهده
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                                                <i class="fas fa-check"></i> قبول
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                                                <i class="fas fa-times"></i> حذف
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="patient-profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="../img/patients/patient7.jpg" alt="User Image"></a>
                                                                            <a href="patient-profile.html">جوان گرانرد <span>#PT0006</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>14 خرداد 1401 <span class="d-block text-info">5.00 عصر</span></td>
                                                                    <td>کلی</td>
                                                                    <td>مراجع قدیمی</td>
                                                                    <td class="text-center">100 تومان</td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                                <i class="far fa-eye"></i> مشاهده
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                                                <i class="fas fa-check"></i> قبول
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                                                <i class="fas fa-times"></i> حذف
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="patient-profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="../img/patients/patient8.jpg" alt="User Image"></a>
                                                                            <a href="patient-profile.html">دنیل گیفیل <span>#PT0007</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>14 خرداد 1401 <span class="d-block text-info">3.00 عصر</span></td>
                                                                    <td>کلی</td>
                                                                    <td>مراجع جدید</td>
                                                                    <td class="text-center"> 75 تومان </td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                                <i class="far fa-eye"></i> مشاهده
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                                                <i class="fas fa-check"></i> قبول
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                                                <i class="fas fa-times"></i> حذف
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="patient-profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="../img/patients/patient9.jpg" alt="User Image"></a>
                                                                            <a href="patient-profile.html">والتر رابینسون <span>#PT0008</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>14 خرداد 1401 <span class="d-block text-info">1.00 عصر</span></td>
                                                                    <td>کلی</td>
                                                                    <td>مراجع قدیمی</td>
                                                                    <td class="text-center">350 تومان</td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                                <i class="far fa-eye"></i> مشاهده
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                                                <i class="fas fa-check"></i> قبول
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                                                <i class="fas fa-times"></i> حذف
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="patient-profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="../img/patients/patient10.jpg" alt="User Image"></a>
                                                                            <a href="patient-profile.html">رابرت رودز <span>#PT0010</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>14 خرداد 1401 <span class="d-block text-info">10.00 صبح</span></td>
                                                                    <td>کلی</td>
                                                                    <td>مراجع جدید</td>
                                                                    <td class="text-center">175 تومان</td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                                <i class="far fa-eye"></i> مشاهده
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                                                <i class="fas fa-check"></i> قبول
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                                                <i class="fas fa-times"></i> حذف
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="patient-profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="../img/patients/patient11.jpg" alt="User Image"></a>
                                                                            <a href="patient-profile.html">هری ویلیامز <span>#PT0011</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>14 خرداد 1401 <span class="d-block text-info">11.00 صبح</span></td>
                                                                    <td>کلی</td>
                                                                    <td>مراجع جدید</td>
                                                                    <td class="text-center" 450 تومان </td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                                <i class="far fa-eye"></i> مشاهده
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                                                <i class="fas fa-check"></i> قبول
                                                                            </a>
                                                                            <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                                                <i class="fas fa-times"></i> حذف
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        

    </div>

    @*<div class="main-wrapper">

        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="index-2.html" class="navbar-brand logo">
                        <img src="../img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="index-2.html" class="menu-logo">
                            <img src="../img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="has-submenu">
                            <a href="booking.html#">خانه<i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="index-2.html">خانه</a></li>
                                <li><a href="index-two.html">خانه 2</a></li>
                                <li><a href="index-three.html">خانه 3</a></li>
                                <li><a href="index-four.html">خانه 4</a></li>
                                <li><a href="index-five.html">خانه 5</a></li>
                                <li><a href="index-six.html">خانه 6</a></li>
                                <li><a href="index-seven.html">خانه 7</a></li>
                                <li><a href="index-eight.html">خانه 8</a></li>
                                <li><a href="index-nine.html">خانه 9</a></li>
                                <li><a href="index-ten.html">خانه 10</a></li>
                                <li><a href="index-leven.html">خانه 11</a></li>
                                <li><a href="index-twelve.html">خانه 12</a></li>
                                <li><a href="index-thirteen.html">خانه 13</a></li>
                                <li><a href="index-fourteen.html">خانه 14</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="booking.html#">پزشک‌ها<i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="doctor-dashboard.html">داشبرد پزشک</a></li>
                                <li><a href="appointments.html">نوبت‌دهی</a></li>
                                <li><a href="schedule-timings.html">زمان‌بندی</a></li>
                                <li><a href="my-patients.html">لیست بیماران</a></li>
                                <li><a href="patient-profile.html">پروفایل بیماران</a></li>
                                <li><a href="chat-doctor.html">چت</a></li>
                                <li><a href="invoices.html">صورت‌حساب</a></li>
                                <li><a href="doctor-profile-settings.html">تنظیمات پروفایل</a></li>
                                <li><a href="reviews.html">نظرات</a></li>
                                <li><a href="doctor-register.html">ثبت‌نام پزشک</a></li>
                                <li class="has-submenu">
                                    <a href="doctor-blog.html">‌بلاگ</a>
                                    <ul class="submenu">
                                        <li><a href="doctor-blog.html">‌بلاگ</a></li>
                                        <li><a href="blog-details.html">دیدن بلاگ</a></li>
                                        <li><a href="doctor-add-blog.html">افزودن بلاگ</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu active">
                            <a href="booking.html#">مراجعه‌کنندگان<i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li class="has-submenu">
                                    <a href="booking.html#">پزشکان</a>
                                    <ul class="submenu">
                                        <li><a href="map-grid.html">گرید نقشه</a></li>
                                        <li><a href="map-list.html">لیست نقشه</a></li>
                                    </ul>
                                </li>
                                <li><a href="search.html">جستجو پزشک</a></li>
                                <li><a href="doctor-profile.html">پروفایل پزشک</a></li>
                                <li class="active"><a href="booking.html">رزرو نوبت</a></li>
                                <li><a href="checkout.html">پرداخت</a></li>
                                <li><a href="booking-success.html">رزرو موفق</a></li>
                                <li><a href="patient-dashboard.html">دشبرد مراجعه‌کننده</a></li>
                                <li><a href="favourites.html">‌علاقه‌مندیها</a></li>
                                <li><a href="chat.html">چت</a></li>
                                <li><a href="profile-settings.html">تنظیمات پروفایل</a></li>
                                <li><a href="change-password.html">‌تغییر رمز عبور</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="booking.html#">داروخانه<i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="pharmacy-index.html">داروخانه</a></li>
                                <li><a href="pharmacy-details.html">جزییات داروخانه</a></li>
                                <li><a href="pharmacy-search.html">جستجو داروخانه</a></li>
                                <li><a href="product-all.html">محصول</a></li>
                                <li><a href="product-description.html">توضیحات محصول</a></li>
                                <li><a href="cart.html">سبد خرید</a></li>
                                <li><a href="product-checkout.html">ادامه خرید محصول</a></li>
                                <li><a href="payment-success.html">خرید موفق</a></li>
                                <li><a href="pharmacy-register.html">ثبت‌نام داروخانه</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="booking.html#">‌صفحات<i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="voice-call.html">‌تماس صوتی</a></li>
                                <li><a href="video-call.html">‌تماس تصویری</a></li>
                                <li><a href="search.html">‌جستجو پزشک</a></li>
                                <li><a href="calendar.html">‌تقویم</a></li>
                                <li><a href="components.html">‌کامپوننت‌ها</a></li>
                                <li class="has-submenu">
                                    <a href="invoices.html">صورت‌حساب</a>
                                    <ul class="submenu">
                                        <li><a href="invoices.html">صورت‌حساب</a></li>
                                        <li><a href="invoice-view.html">جزییات صورت‌حساب</a></li>
                                    </ul>
                                </li>
                                <li><a href="blank-page.html">‌صفحه شروع</a></li>
                                <li><a href="about-us.html">‌درباره ما</a></li>
                                <li><a href="contact-us.html">‌تماس با ما</a></li>
                        </li>
                        <li><a href="login.html">‌ورود</a></li>
                        <li><a href="register.html">‌ثبت‌نام</a></li>
                        <li><a href="forgot-password.html">‌فراموشی رمزعبور</a></li>
                    </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="booking.html#">‌بلاگ<i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a href="blog-list.html">‌لیست بلاگ</a></li>
                            <li><a href="blog-grid.html">‌گرید بلاگ</a></li>
                            <li><a href="blog-details.html">‌جزییات بلاگ</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="booking.html#" target="_blank">‌ادمین<i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a href="admin/index.html" target="_blank">‌ادمین</a></li>
                            <li><a href="pharmacy/index.html" target="_blank">‌ادمین داروخانه</a></li>
                        </ul>
                    </li>
                    <li class="login-link">
                        <a href="login.html">‌ورود / ثبت‌نام</a>
                    </li>
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">
                    <li class="nav-item contact-item">
                        <div class="header-contact-img">
                            <i class="far fa-hospital"></i>
                        </div>
                        <div class="header-contact-detail">
                            <p class="contact-header">تماس</p>
                            <p class="contact-info-header"> +1 315 369 5943</p>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-login" href="login.html">ورود / ثبت‌نام</a>
                    </li>
                </ul>
            </nav>
        </header>


        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index-2.html">خانه</a></li>
                                <li class="breadcrumb-item active" aria-current="page">رزرو نوبت</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">رزرو نوبت</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="booking-doc-info">
                                    <a href="doctor-profile.html" class="booking-doc-img">
                                        <img src="../img/doctors/doctor-thumb-02.jpg" alt="User Image">
                                    </a>
                                    <div class="booking-info">
                                        <h4><a href="doctor-profile.html">پزشک. دارن الدر</a></h4>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">35</span>
                                        </div>
                                        <p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> نیویورک، آمریکا</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-4 col-md-6">
                                <h4 class="mb-1">11 مهر 1401</h4>
                                <p class="text-muted">دوشنبه</p>
                            </div>
                            <div class="col-12 col-sm-8 col-md-6 text-sm-end">
                                <div class="bookingrange btn btn-white btn-sm mb-3">
                                    <i class="far fa-calendar-alt me-2"></i>
                                    <span></span>
                                    <i class="fas fa-chevron-down ms-2"></i>
                                </div>
                            </div>
                        </div>

                        <div class="card booking-schedule schedule-widget">

                            <div class="schedule-header">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="day-slot">
                                            <ul>
                                                <li class="left-arrow">
                                                    <a href="booking.html#">
                                                        <i class="fa fa-chevron-left"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <span>شنبه</span>
                                                    <span class="slot-date">11  مهر <small class="slot-year">1401</small></span>
                                                </li>
                                                <li>
                                                    <span>یکشنبه</span>
                                                    <span class="slot-date">12  مهر <small class="slot-year">1401</small></span>
                                                </li>
                                                <li>
                                                    <span>دوشنبه</span>
                                                    <span class="slot-date">13  مهر <small class="slot-year">1401</small></span>
                                                </li>
                                                <li>
                                                    <span>سه‌شنبه</span>
                                                    <span class="slot-date">14  مهر <small class="slot-year">1401</small></span>
                                                </li>
                                                <li>
                                                    <span>چهارشنبه</span>
                                                    <span class="slot-date">15  مهر <small class="slot-year">1401</small></span>
                                                </li>
                                                <li>
                                                    <span>پنجشنبه</span>
                                                    <span class="slot-date">16  مهر <small class="slot-year">1401</small></span>
                                                </li>
                                                <li>
                                                    <span>جمعه</span>
                                                    <span class="slot-date">17  مهر <small class="slot-year">1401</small></span>
                                                </li>
                                                <li class="right-arrow">
                                                    <a href="booking.html#">
                                                        <i class="fa fa-chevron-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="schedule-cont">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="time-slot">
                                            <ul class="clearfix">
                                                <li>
                                                    <a class="timing" href="booking.html#">
                                                        <span>9:00</span> <span>صبح</span>
                                                    </a>
                                                    <a class="timing" href="booking.html#">
                                                        <span>10:00</span> <span>صبح</span>
                                                    </a>
                                                    <a class="timing" href="booking.html#">
                                                        <span>11:00</span> <span>صبح</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="timing" href="booking.html#">
                                                        <span>9:00</span> <span>صبح</span>
                                                    </a>
                                                    <a class="timing" href="booking.html#">
                                                        <span>10:00</span> <span>صبح</span>
                                                    </a>
                                                    <a class="timing" href="booking.html#">
                                                        <span>11:00</span> <span>صبح</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="timing" href="booking.html#">
                                                        <span>9:00</span> <span>صبح</span>
                                                    </a>
                                                    <a class="timing" href="booking.html#">
                                                        <span>10:00</span> <span>صبح</span>
                                                    </a>
                                                    <a class="timing" href="booking.html#">
                                                        <span>11:00</span> <span>صبح</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="timing" href="booking.html#">
                                                        <span>9:00</span> <span>صبح</span>
                                                    </a>
                                                    <a class="timing" href="booking.html#">
                                                        <span>10:00</span> <span>صبح</span>
                                                    </a>
                                                    <a class="timing" href="booking.html#">
                                                        <span>11:00</span> <span>صبح</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="timing" href="booking.html#">
                                                        <span>9:00</span> <span>صبح</span>
                                                    </a>
                                                    <a class="timing selected" href="booking.html#">
                                                        <span>10:00</span> <span>صبح</span>
                                                    </a>
                                                    <a class="timing" href="booking.html#">
                                                        <span>11:00</span> <span>صبح</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="timing" href="booking.html#">
                                                        <span>9:00</span> <span>صبح</span>
                                                    </a>
                                                    <a class="timing" href="booking.html#">
                                                        <span>10:00</span> <span>صبح</span>
                                                    </a>
                                                    <a class="timing" href="booking.html#">
                                                        <span>11:00</span> <span>صبح</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="timing" href="booking.html#">
                                                        <span>9:00</span> <span>صبح</span>
                                                    </a>
                                                    <a class="timing" href="booking.html#">
                                                        <span>10:00</span> <span>صبح</span>
                                                    </a>
                                                    <a class="timing" href="booking.html#">
                                                        <span>11:00</span> <span>صبح</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="submit-section proceed-btn text-end">
                            <a href="checkout.html" class="btn btn-primary submit-btn">ادامه فرایند خرید</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">

            <div class="footer-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="../img/footer-logo.png" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="booking.html#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>
                                            <li>
                                                <a href="booking.html#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                            </li>
                                            <li>
                                                <a href="booking.html#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="booking.html#" target="_blank"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="booking.html#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">برای بیماران</h2>
                                <ul>
                                    <li><a href="search.html">جستجو پزشک</a></li>
                                    <li><a href="login.html">‌ورود</a></li>
                                    <li><a href="register.html">‌ثبت‌نام</a></li>
                                    <li><a href="booking.html">رزرو نوبت</a></li>
                                    <li><a href="patient-dashboard.html">دشبرد مراجعه‌کننده</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">برای پزشکان</h2>
                                <ul>
                                    <li><a href="appointments.html">نوبت‌دهی</a></li>
                                    <li><a href="chat.html">چت</a></li>
                                    <li><a href="login.html">‌ورود</a></li>
                                    <li><a href="doctor-register.html">‌ثبت‌نام</a></li>
                                    <li><a href="doctor-dashboard.html">داشبرد پزشک</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">‌تماس با ما</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p> 3556 خیابان ساحل، سانفرانسیسکو,<br> کالیفرنیا، 94108 </p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        +1 315 369 5943
                                    </p>
                                    <p class="mb-0">
                                        <i class="fas fa-envelope"></i>
                                        <a href="https://template.doccure.io/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a3c7ccc0c0d6d1c6e3c6dbc2ced3cfc68dc0ccce">[email&#160;protected]</a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="footer-bottom">
                <div class="container-fluid">

                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 1401 داک کیور. تمامی حقوق محفوظ است.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">

                                <div class="copyright-menu">
                                    <ul class="policy-menu">
                                        <li><a href="term-condition.html"> شرایط و ضوابط </a></li>
                                        <li><a href="privacy-policy.html">حریم خصوصی </a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </footer>

    </div>*@

    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/js/jquery-migrate-1.2.1.min.js"></script>
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js" type="afa5e30f86b2e15d995d28a7-text/javascript"></script>

    <script src="~/js/bootstrap.bundle.min.js"></script>

    <!-- Jalali Daterangepikcer JS -->

    <script src="~/plugins/jcal/moment.min.js"></script>
    <script src="~/plugins/jcal/daterangepicker.js"></script>
    <script src="~/plugins/jcal/bootstrap-datepicker.fa.min.js"></script>
    <script src="~/plugins/jcal/moment.js"></script>
    <script src="~/plugins/jcal/moment-jalaali.js"></script>

    <script>moment.locale("fa");</script>
    <script src="../js/script.js" type="afa5e30f86b2e15d995d28a7-text/javascript"></script>
    <script src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="afa5e30f86b2e15d995d28a7-|49" defer=""></script>
</body>
</html>